<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <div class="input-wrap">
                <input type="text" class="form-control" #titleInput name="title" placeholder="What are you working on..." />
            </div>
        </div>
        <div class="col-md-3">
            <div class="projects-wrap">
                <select #selectedCategory>
                    <option *ngFor="let project of projects" [ngValue]="project">{{ project.title }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="timewatch-wrap">
                <timer></timer>
                <div class="buttons-wrap">
                    <a class="play-timer" [hidden]="play" (click)="playTimer(); createdAt = TimeWatchService.whatTime()">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </a>
                    <a class="stop-timer" [hidden]="!play" (click) = "stopTimer();
                        setProjectName(selectedCategory.value);
                        finishedAt = TimeWatchService.whatTime();
                        create(titleInput.value); titleInput.value = ''">
                        <i class="fa fa-stop-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
