<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <form class="input-wrap" (ngSubmit)="createTodo($event); todoForm.reset()" #todoForm="ngForm">
                <input type="text" name="title" [(ngModel)]="newTodoTitle" class="form-control" placeholder="What are you doing..." required />
                <button type="submit" [disabled]="todoForm.form.invalid" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col-md-3">
            <div class="select-wrap">
                <todo-project></todo-project>
            </div>
        </div>
        <div class="col-md-3">
            <div class="timewatch-wrap">
                <timer></timer>
                <buttons></buttons>
            </div>
        </div>
    </div>
</div>
<todo-list></todo-list>
