<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <div class="input-wrap">
                <input type="text" class="form-control" #titleInput name="title" (keyup.enter)="create(titleInput.value); titleInput.value = ''" placeholder="What are you doing..." />
                <button type="button" class="btn btn-primary" (click) = "create(titleInput.value); titleInput.value = ''">Add</button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="select-wrap">
                <todo-project [projects]="projects"></todo-project>
            </div>
        </div>
        <div class="col-md-3">
            <div class="timewatch-wrap">
                <timer></timer>
                <buttons></buttons>
            </div>
        </div>
    </div>
</div>
