<div class="todo-item-wrap">
    <div class="row">
        <div class="col-md-9">
            <div class="todo-item-content">
                <input type="checkbox" (change)="toggle()" [checked]="todo.done">
                <label [ngClass] = "{done: todo.done}">{{ todo.title }}</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="todo-item-btn">
                <button type="button" (click)="delete()"><i><i class="fa fa-trash"></i></i></button>
            </div>
        </div>
    </div>
</div>


