todo-item:last-child {
    margin: 0;
    border: none;
}
.todo-item-wrap {
    padding: 10px 0;
    margin: 0 0 5px;
    border-bottom: 1px solid #ccc;
}
.todo-item-btn {
    text-align: right;
}
.todo-item-btn:hover i {
    color: #ff0000;
}
.done {
    text-decoration: line-through;
}

